@media (min-width: 769px) {
  html {
    overflow-y: hidden;
  }
}

.contact-hero {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--space-lg);
  gap: var(--space-xl);
}

.contact-actions {
  margin-top: var(--space-lg);
}



@media (max-width: 768px) {
  html {
    overflow-y: hidden;
  }

  .contact-hero {
    padding: 0 var(--space-sm);
    min-height: calc(100svh - var(--space-md) * 2);
  }

  .contact-actions {
    display: grid;
    gap: var(--space-sm);
  }
}
